.logo {
    object-fit: cover;
    width: 142px;
    height: 33px;
    padding: 45px 0 41px 0;
}
@media screen and (max-width: 767px) {
    .logo {
        width: 104px;
        height: 24px;
        padding: 28px 0 32px 27px;
    }
  }
